<a href="https://colab.research.google.com/github/choisangh/STUDY/blob/main/finance/%EA%B8%88%EC%9C%B5_%EA%B3%B5%ED%95%99_7%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font size=6><b>파생상품-선물(Future)
* ref : KRX 아카데미,  http://academy.krx.co.kr/contents/ACA/02/02020200/ACA02020200.jsp
* ref : 키움증권 ,     https://www.kiwoom.com/h/help/trade/VHelpFuopInfoView
* ref : 금융공학레시피, http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&ejkGb=KOR&barcode=9791162240823

* <b>파생상품</b>
   기초자산의 가치 변동에 따라 가격이 결정되는 금융상품
* <b>선물거래</b>
   기초자산을 미래의 일정 시점에 미리 정한 가격으로 인도, 인수할 것을 '약속'하는 거래 
* <b>옵션거래</b>
   미리 정한 가격으로 사거나 팔 수 있는 '권리'를 거래하는 것

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/bCdmW6/btrxvMPAgxy/imwVIr95GkDUAsg3BSv6Hk/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/cHgNTU/btrxGcmAHqW/nDhkFDRs83FNDxDgFXZgw0/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/bjn7us/btrxu8ztub5/VozIDbUL1EPcdPjxWfXfPk/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/7QEHa/btrxAaQBJPI/MNMsckMk0LRJ9fewY6Qth0/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/b6dK2g/btrxwXRLTyU/S4WT993ip2mqpIhGU5wuH1/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/Bli4e/btrxEERbA2P/gaQgBHK7eUrU1ExkT95Gpk/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/D12JG/btrxEEjk46u/SVFM8DWLMPiDhDSqgiphYk/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/lPXls/btrxykeTnle/YS597VQCsELyKawfXHaKA0/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/cesUnh/btrxvLDbmu0/9Ylmf1qEjbKk0ARzlJXkR1/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/tb6Sz/btrxB5heOMs/z4KuGsZcpo0pmU8s59alc0/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/c0IG0L/btrxB5n01D7/SWhk1X2XjkT3boWIVRNJhK/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/b7qkn0/btrxAbhLbde/rWyW72kA0FI21cPTphTSy1/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/6AkWB/btrxsEMvvYS/97k46tkZSTRmXmNjuyiP51/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/bERFQh/btrxAboBeiR/YVPa1DRR480OipYODAR7Uk/img.png">

<img  width="700" height="400" src="https://blog.kakaocdn.net/dn/lTIkz/btrxHu1MDZ7/48eTDPk3tmiZE5j9PubdjK/img.png">

* 이론가보다 선물가가 낮으면(괴리도 음수) 저렴하게 나왔다고 생각하면 됨

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_excel("/content/gdrive/My Drive/Colab Notebooks/금융공학/dataset/선물이론가산출1.xlsx",'선물') #일자별지수
df.head()

    일자          지수  선물이론가(1분기)  선물이론가(2분기)  Unnamed: 4      이자율   0.0225
0  1.0  100.000000  100.184694  100.372717         NaN      배당률    0.015
1  2.0  100.191806  100.373867  100.562244         NaN  만기(1분기)   63.000
2  3.0  100.774601  100.954716  101.144184         NaN  만기(2분기)  126.000
3  4.0   99.934721  100.110356  100.298239         NaN      NaN      NaN
4  5.0  101.075137  101.249763  101.439784         NaN      NaN      NaN

# 선물이론가
* 이론가 = 현물가 + 순보유비용(만기까지의 이자비, 보관비 등)

* 이자율 = 2.25
* 배당률 = 1.50
* 만기(1분기) = 63
* 만기(2분기) = 126

In [ ]:
df.head()

    일자          지수  선물이론가(1분기)  선물이론가(2분기)  Unnamed: 4      이자율   0.0225
0  1.0  100.000000  100.184694  100.372717         NaN      배당률    0.015
1  2.0  100.191806  100.373867  100.562244         NaN  만기(1분기)   63.000
2  3.0  100.774601  100.954716  101.144184         NaN  만기(2분기)  126.000
3  4.0   99.934721  100.110356  100.298239         NaN      NaN      NaN
4  5.0  101.075137  101.249763  101.439784         NaN      NaN      NaN

In [ ]:
def my_future_price(df,만기일자=63, r=0.0225, d=0.015):
    t = (만기일자-df['일자'])/252
    S=df['지수']
    선물이론가=S*np.exp((r-d)*t)
    return 선물이론가

In [ ]:
df['이론가1']=df.apply(lambda x : my_future_price(x,만기일자=63),axis=1)
df['이론가2']=df.apply(lambda x : my_future_price(x,만기일자=126),axis=1)

In [ ]:
df.head()

,일자,지수,선물이론가(1분기),선물이론가(2분기),Unnamed: 4,이자율,0.0225,이론가1,이론가2
0,1.0,100.000000,100.184694,100.372717,NaN,배당률,0.015,100.184694,100.372717
1,2.0,100.191806,100.373867,100.562244,NaN,만기(1분기),63.000,100.373867,100.562244
2,3.0,100.774601,100.954716,101.144184,NaN,만기(2분기),126.000,100.954716,101.144184
3,4.0,99.934721,100.110356,100.298239,NaN,NaN,NaN,100.110356,100.298239
4,5.0,101.075137,101.249763,101.439784,NaN,NaN,NaN,101.249763,101.439784

# Mission. WTI 유가 선물옵션 만기에 따른 수익률 비교

* Spot (현물가)
* Front (최근월물) 만기를 앞두고 있는 선물
* Second (차근월물) 다음 만기를 앞두고 있는 선물

In [ ]:
df1 = pd.read_excel("/content/gdrive/My Drive/Colab Notebooks/금융공학/dataset/WTI.xlsx",'Spot')
df2 = pd.read_excel("/content/gdrive/My Drive/Colab Notebooks/금융공학/dataset/WTI.xlsx",'Front')
df3 = pd.read_excel("/content/gdrive/My Drive/Colab Notebooks/금융공학/dataset/WTI.xlsx",'Second')
df4 = pd.read_excel("/content/gdrive/My Drive/Colab Notebooks/금융공학/dataset/WTI.xlsx",'Expiry', usecols=['Last Trade'])

In [ ]:
df=pd.concat([df1,df2,df3,df4],axis=1)[['Date','Spot','Front','Second']].iloc[:,2:7]

## 만기일 여부 (1,0)

In [ ]:
df=df.set_index('Date')
df.head()

             Spot  Front  Second
Date
2017-12-28  59.84  59.84   59.87
2017-12-27  59.64  59.64   59.69
2017-12-26  59.97  59.97   60.00
2017-12-22  58.42  58.47   58.54
2017-12-21  58.33  58.36   58.40

In [ ]:
expiry = pd.Series(pd.to_datetime(df4['Last Trade']))
expiry.head()

0   2000-01-20
1   2000-02-22
2   2000-03-21
3   2000-04-19
4   2000-05-22
Name: Last Trade, dtype: datetime64[ns]

In [ ]:
df['Expiry'] = 0

In [ ]:
for d in df.index:
    if d in pd.to_datetime(expiry.values):
        df['Expiry'].loc[d] = 1
df[df['Expiry']==1]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

             Spot  Front  Second  Expiry
Date
2017-12-19  57.46  57.46   57.56       1
2017-11-20  56.09  56.09   56.42       1
2017-10-20  51.47  51.47   51.84       1
2017-09-20  50.41  50.41   50.69       1
2017-08-22  47.64  47.64   47.83       1
...           ...    ...     ...     ...
2010-05-20  68.01  68.01   70.80       1
2010-04-20  83.45  83.45   83.85       1
2010-03-22  81.25  81.25   81.60       1
2010-02-22  80.16  80.16   80.31       1
2010-01-20  77.62  77.62   77.74       1

[96 rows x 4 columns]

In [ ]:
df=df.sort_index(ascending=True)
df.head()

             Spot  Front  Second  Expiry
Date
2010-01-04  81.51  81.51   82.12       0
2010-01-05  81.77  81.77   82.41       0
2010-01-06  83.18  83.18   83.75       0
2010-01-07  82.66  82.66   83.19       0
2010-01-08  82.75  82.75   83.30       0

## 현물투자 vs 선물투자 수익률 비교

## 현물에 7년간 투자했을 경우

In [ ]:
df.loc[df.index.max(),'Spot'] - df.loc[df.index.min(),'Spot']

-21.67

## 선물에 7년간 투자했을 경우 (롤오버)
* 롤오버 : 만기시 차근월물로 교체

In [ ]:
df['rollover'] = 0
df.head()

             Spot  Front  Second  Expiry  rollover
Date
2010-01-04  81.51  81.51   82.12       0         0
2010-01-05  81.77  81.77   82.41       0         0
2010-01-06  83.18  83.18   83.75       0         0
2010-01-07  82.66  82.66   83.19       0         0
2010-01-08  82.75  82.75   83.30       0         0

In [ ]:
df['rollover']=df[df['Expiry']==1]['Second']-df[df['Expiry']==1]['Front'] #롤오버

In [ ]:
df=df.fillna(0)

In [ ]:
df[df['Expiry']==1]

             Spot  Front  Second  Expiry  rollover
Date
2010-01-20  77.62  77.62   77.74       1      0.12
2010-02-22  80.16  80.16   80.31       1      0.15
2010-03-22  81.25  81.25   81.60       1      0.35
2010-04-20  83.45  83.45   83.85       1      0.40
2010-05-20  68.01  68.01   70.80       1      2.79
...           ...    ...     ...     ...       ...
2017-08-22  47.64  47.64   47.83       1      0.19
2017-09-20  50.41  50.41   50.69       1      0.28
2017-10-20  51.47  51.47   51.84       1      0.37
2017-11-20  56.09  56.09   56.42       1      0.33
2017-12-19  57.46  57.46   57.56       1      0.10

[96 rows x 5 columns]

In [ ]:
df.head()

             Spot  Front  Second  Expiry  rollover
Date
2010-01-04  81.51  81.51   82.12       0       NaN
2010-01-05  81.77  81.77   82.41       0       NaN
2010-01-06  83.18  83.18   83.75       0       NaN
2010-01-07  82.66  82.66   83.19       0       NaN
2010-01-08  82.75  82.75   83.30       0       NaN

## 선물 손익 = 현재가 - 최초가 - 롤오버비용

In [ ]:
total_rollover = df['rollover'].cumsum()[-1]
total_rollover

40.680000000000035

In [ ]:
df.loc[df.index.max(),'Spot'] - df.loc[df.index.min(),'Spot'] - total_rollover

-62.35000000000004

In [ ]:
<img  width="700" height="400" src="url">