In [102]:
from datetime import datetime, timedelta
from pytz import timezone
import yfinance as yf

미국 증시
09:30 ~ 16:00
한국 증시
09:00 ~15:30

In [79]:
kst = datetime.now()
us = datetime.now(timezone("US/Eastern"))

kst_time = datetime.strptime(str(kst.hour) +":"+str(kst.minute),"%H:%M")
us_time = datetime.strptime(str(us.hour) +":"+str(us.minute),"%H:%M")

kst_s_time = datetime.strptime("09:30",'%H:%M')
us_s_time = datetime.strptime("09:00",'%H:%M')

In [94]:
print(kst.weekday())

4

In [90]:
print(kst-timedelta(days=1))

2022-02-17 15:58:27.176889

In [64]:
kst_time > us_s_time

False

In [ ]:
미국/한국  요일 토/일 : 금요일
미국/한국  증시시작전 : 전날

In [98]:
us_now_date = us
us_ev_date = us - timedelta(days=1)
kr_now_date = kst
kr_ev_date = kst - timedelta(days=1)

In [24]:
if (us.weekday() == 5):
    us_now_date = us_search_date - timedelta(days=1)
    us_ev_date = us_ev_date - timedelta(days=2)
elif (us.weekday() == 6):
    us_search_date = us_search_date - timedelta(days=2)
    us_ev_date = us_ev_date - timedelta(days=2)
elif (us.weekday() == 0):
    us_ev_date = us_ev_date - timedelta(days=3)

코스피 : ^KS11
코스닥 : ^KQ11



다우 : ^DJI
나스닥 :  ^IXIC
S&P : ^GSPC

----------us-----------------

In [124]:
us_list = ['^IXIC', '^GSPC', '^DJI']
kr_list = ['^KS11','^KQ11']
# us_df = yf.download(us_list, start=us_ev_date, end=us_now_date)

[*********************100%***********************]  3 of 3 completed

In [132]:
for us in us_list:
    us_df = yf.download(us, start=us_ev_date, end=us_now_date)
    print(us_df.head())

[*********************100%***********************]  1 of 1 completed
                    Open          High           Low         Close  \
Date
2022-02-16  14038.919922  14163.730469  13931.990234  14124.089844
2022-02-17  14004.190430  14020.820312  13704.700195  13716.719727

               Adj Close      Volume
Date
2022-02-16  14124.089844  4224060000
2022-02-17  13716.719727  4259890000
[*********************100%***********************]  1 of 1 completed
                   Open         High          Low        Close    Adj Close  \
Date
2022-02-16  4455.750000  4489.549805  4429.680176  4475.009766  4475.009766
2022-02-17  4456.060059  4456.060059  4373.810059  4380.259766  4380.259766

                Volume
Date
2022-02-16  3478750000
2022-02-17  3596510000
[*********************100%***********************]  1 of 1 completed
                    Open          High           Low         Close  \
Date
2022-02-16  34951.828125  35042.089844  34642.640625  34934.269531
2022-02-17  34858.468750  34858.468750  34246.230469  34312.031250

               Adj Close     Volume
Date
2022-02-16  34934.269531  294410000
2022-02-17  34312.031250  348720000

In [144]:
us_df = yf.download(kr_list, start="2022-02-10", end="2022-02-11")

[*********************100%***********************]  2 of 2 completed

In [145]:
us_df

             Adj Close                    Close                     High  \
                 ^KQ11        ^KS11       ^KQ11        ^KS11       ^KQ11
Date
2022-02-10  895.679993  2771.929932  895.679993  2771.929932  914.919983

                               Low                    Open               \
                 ^KS11       ^KQ11       ^KS11       ^KQ11        ^KS11
Date
2022-02-10  2788.27002  893.210022  2761.76001  914.650024  2787.439941

           Volume
            ^KQ11   ^KS11
Date
2022-02-10    900  509300